@import "styles/global.scss";

.Item {
  margin-bottom: 0.5em;
  white-space: pre-wrap;
  &__header {
    display: flex;
    flex-direction: row;

    & > * {
      margin-bottom: 0.5em;
    }
  }

  &__title {
    flex: 2;
  }

  &__dates {
    flex: 1;
    text-align: right;
    font-family: $ff-dates;
  }

  &__content {
    text-align: justify;
    margin: 0;
  }
}
