@import "../../styles/global.scss";

.Experiences {
  flex: 3;
  border-left: 2px solid $medium-grey;
  padding: 0 1.5em;

  &__section {
    margin-bottom: 3em;
  }

  &__two-columns {
    display: flex;
    flex-direction: row;
    width: 100%;

    > * {
      flex: 1;
      &:first-child {
        margin-right: 2em;
      }
    }
  }
}
