@import "styles/global.scss";

.Item {
  white-space: pre-wrap;

  &__header {
    display: flex;
    flex-direction: row;
    margin-top: 1.1em;

  }

  &__title {
    flex: 2;
  }

  &__dates {
    flex: 1;
    text-align: right;
    font-family: $ff-dates;
  }

  &__content {
    margin: 0;
    margin-top: 0.5em;
  }
}