@import "styles/global.scss";

.Introduction {
  flex: 1;
  border-right: 2px solid $medium-grey;
  padding: 0 1.5em;

  &__name {
    text-align: center;
  }

  &__picture {
    max-width: 40%;
    border-radius: 50%;
    border: 2px solid $primary;
    margin-top: 1.5em;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__picto {
    font-size: 2em;
    color: $primary;
  }

  &__section {
    margin-bottom: 2em;
  }
}
