@import "../../styles/global.scss";

.Item {
  margin-bottom: 1em;
  &__header {
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
      margin-bottom: 0.2em;
    }
  }

  &__dates {
    text-align: right;
    font-family: $ff-dates;
  }
}
