@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ykefiy");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ykefiy#iefix") format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ykefiy") format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ykefiy") format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ykefiy##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uk .path1 {
  &:before {
    content: $icon-uk-path1;
    color: rgb(240, 249, 255);
  }
}
.icon-uk .path2 {
  &:before {
    content: $icon-uk-path2;
    margin-left: -1em;
    color: rgb(244, 0, 85);
  }
}
.icon-uk .path3 {
  &:before {
    content: $icon-uk-path3;
    margin-left: -1em;
    color: rgb(194, 0, 68);
  }
}
.icon-uk .path4 {
  &:before {
    content: $icon-uk-path4;
    margin-left: -1em;
    color: rgb(244, 0, 85);
  }
}
.icon-uk .path5 {
  &:before {
    content: $icon-uk-path5;
    margin-left: -1em;
    color: rgb(194, 0, 68);
  }
}
.icon-uk .path6 {
  &:before {
    content: $icon-uk-path6;
    margin-left: -1em;
    color: rgb(64, 107, 212);
  }
}
.icon-uk .path7 {
  &:before {
    content: $icon-uk-path7;
    margin-left: -1em;
    color: rgb(50, 87, 176);
  }
}
.icon-uk .path8 {
  &:before {
    content: $icon-uk-path8;
    margin-left: -1em;
    color: rgb(50, 87, 176);
  }
}
.icon-uk .path9 {
  &:before {
    content: $icon-uk-path9;
    margin-left: -1em;
    color: rgb(64, 107, 212);
  }
}
.icon-uk .path10 {
  &:before {
    content: $icon-uk-path10;
    margin-left: -1em;
    color: rgb(64, 107, 212);
  }
}
.icon-uk .path11 {
  &:before {
    content: $icon-uk-path11;
    margin-left: -1em;
    color: rgb(64, 107, 212);
  }
}
.icon-uk .path12 {
  &:before {
    content: $icon-uk-path12;
    margin-left: -1em;
    color: rgb(50, 87, 176);
  }
}
.icon-uk .path13 {
  &:before {
    content: $icon-uk-path13;
    margin-left: -1em;
    color: rgb(50, 87, 176);
  }
}
.icon-uk .path14 {
  &:before {
    content: $icon-uk-path14;
    margin-left: -1em;
    color: rgb(244, 0, 85);
  }
}
.icon-uk .path15 {
  &:before {
    content: $icon-uk-path15;
    margin-left: -1em;
    color: rgb(194, 0, 68);
  }
}
.icon-france .path1 {
  &:before {
    content: $icon-france-path1;
    color: rgb(64, 107, 212);
  }
}
.icon-france .path2 {
  &:before {
    content: $icon-france-path2;
    margin-left: -1em;
    color: rgb(194, 0, 68);
  }
}
.icon-france .path3 {
  &:before {
    content: $icon-france-path3;
    margin-left: -1em;
    color: rgb(240, 249, 255);
  }
}
.icon-france .path4 {
  &:before {
    content: $icon-france-path4;
    margin-left: -1em;
    color: rgb(206, 229, 245);
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-nodejs {
  &:before {
    content: $icon-nodejs;
    color: #8cc84b;
  }
}
.icon-mongodb {
  &:before {
    content: $icon-mongodb;
    color: #47a248;
  }
}
.icon-angular {
  &:before {
    content: $icon-angular;
    color: #dd0031;
  }
}
.icon-circleci {
  &:before {
    content: $icon-circleci;
  }
}
.icon-css3 {
  &:before {
    content: $icon-css3;
    color: #1572b6;
  }
}
.icon-docker {
  &:before {
    content: $icon-docker;
    color: #1488c6;
  }
}
.icon-git {
  &:before {
    content: $icon-git;
    color: #f05032;
  }
}
.icon-html5 {
  &:before {
    content: $icon-html5;
    color: #e34f26;
  }
}
.icon-javascript {
  &:before {
    content: $icon-javascript;
    color: #f7df1e;
  }
}
.icon-magento {
  &:before {
    content: $icon-magento;
    color: #ee672f;
  }
}
.icon-mysql {
  &:before {
    content: $icon-mysql;
    color: #4479a1;
  }
}
.icon-php {
  &:before {
    content: $icon-php;
    color: #777bb4;
  }
}
.icon-python {
  &:before {
    content: $icon-python;
    color: #3776ab;
  }
}
.icon-react {
  &:before {
    content: $icon-react;
    color: #61dafb;
  }
}
.icon-sass {
  &:before {
    content: $icon-sass;
    color: #c69;
  }
}
.icon-symfony {
  &:before {
    content: $icon-symfony;
  }
}
.icon-vuejs {
  &:before {
    content: $icon-vuejs;
    color: #4fc08d;
  }
}
.icon-vue .path1 {
  &:before {
    content: $icon-vue-path1;
    color: rgb(65, 184, 131);
  }
}
.icon-vue .path2 {
  &:before {
    content: $icon-vue-path2;
    margin-left: -1em;
    color: rgb(65, 184, 131);
  }
}
.icon-vue .path3 {
  &:before {
    content: $icon-vue-path3;
    margin-left: -1em;
    color: rgb(53, 73, 94);
  }
}
.icon-magento1 {
  &:before {
    content: $icon-magento1;
    color: #ec6737;
  }
}
.icon-php1 .path1 {
  &:before {
    content: $icon-php1-path1;
    color: rgb(137, 147, 190);
  }
}
.icon-php1 .path2 {
  &:before {
    content: $icon-php1-path2;
    margin-left: -1em;
    color: rgb(35, 37, 49);
  }
}
.icon-html5-text .path1 {
  &:before {
    content: $icon-html5-text-path1;
    color: rgb(228, 77, 38);
  }
}
.icon-html5-text .path2 {
  &:before {
    content: $icon-html5-text-path2;
    margin-left: -1em;
    color: rgb(241, 101, 41);
  }
}
.icon-html5-text .path3 {
  &:before {
    content: $icon-html5-text-path3;
    margin-left: -1em;
    color: rgb(235, 235, 235);
  }
}
.icon-html5-text .path4 {
  &:before {
    content: $icon-html5-text-path4;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-html5-text .path5 {
  &:before {
    content: $icon-html5-text-path5;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-css3-text .path1 {
  &:before {
    content: $icon-css3-text-path1;
    color: rgb(32, 98, 175);
  }
}
.icon-css3-text .path2 {
  &:before {
    content: $icon-css3-text-path2;
    margin-left: -1em;
    color: rgb(60, 156, 215);
  }
}
.icon-css3-text .path3 {
  &:before {
    content: $icon-css3-text-path3;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-css3-text .path4 {
  &:before {
    content: $icon-css3-text-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-css3-text .path5 {
  &:before {
    content: $icon-css3-text-path5;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-css3-text .path6 {
  &:before {
    content: $icon-css3-text-path6;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-css3-text .path7 {
  &:before {
    content: $icon-css3-text-path7;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-css3-text .path8 {
  &:before {
    content: $icon-css3-text-path8;
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.05;
  }
}
.icon-css3-text .path9 {
  &:before {
    content: $icon-css3-text-path9;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-css3-text .path10 {
  &:before {
    content: $icon-css3-text-path10;
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.05;
  }
}
.icon-angular-color .path1 {
  &:before {
    content: $icon-angular-color-path1;
    color: rgb(226, 50, 55);
  }
}
.icon-angular-color .path2 {
  &:before {
    content: $icon-angular-color-path2;
    margin-left: -1em;
    color: rgb(181, 46, 49);
  }
}
.icon-angular-color .path3 {
  &:before {
    content: $icon-angular-color-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.icon-javascript-color .path1 {
  &:before {
    content: $icon-javascript-color-path1;
    color: rgb(247, 223, 30);
  }
}
.icon-javascript-color .path2 {
  &:before {
    content: $icon-javascript-color-path2;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-cake {
  &:before {
    content: $icon-cake;
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones;
  }
}
.icon-plane {
  &:before {
    content: $icon-plane;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-airplane {
  &:before {
    content: $icon-airplane;
  }
}
.icon-film {
  &:before {
    content: $icon-film;
  }
}
.icon-location-food {
  &:before {
    content: $icon-location-food;
  }
}
.icon-music-notes {
  &:before {
    content: $icon-music-notes;
  }
}
