@import url("https://fonts.googleapis.com/css?family=Montserrat|Lato&display=swap");
@import "fonts";
@import "variables";

* {
  box-sizing: border-box;
}

/*
FONTS
*/
$ff-body: "Montserrat", sans-serif;
$ff-dates: "Lato", sans-serif;

body {
  font-family: $ff-body;
  background: $background;
  color: $light-grey-1;
  font-size: 12px;
}

h1 {
  font-size: 1.8em;
  color: $light;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  color: $light;
  margin: 0.5em 0;
}

h3 {
  font-size: 1em;
  color: $light-grey-2;
}
