@import url("https://fonts.googleapis.com/css?family=Montserrat|Lato&display=swap");
@import "fonts";

* {
  box-sizing: border-box;
}

/*
COLORS
*/
$white: #000000;
$black: #000000;
$dark-grey: #ffffff;
$medium-grey: #00b5fd50;
$light-grey-1: #444444;
$light-grey-2: #383838;
$green: #00b7fd;

/*
FONTS
*/
$ff-body: "Montserrat", sans-serif;
$ff-dates: "Lato", sans-serif;

body {
  font-family: $ff-body;
  background: $dark-grey;
  color: $light-grey-1;
  font-size: 12px;
}

h1 {
  font-size: 1.8em;
  color: $white;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  color: $white;
  margin: 0.5em 0;
}

h3 {
  font-size: 1em;
  color: $light-grey-2;
}
