/*
COLORS
*/
$white: #000000;
$black: #000000;
$dark-grey: #ffffff;
$medium-grey: #00b5fd50;
$light-grey-1: #444444;
$light-grey-2: #383838;
$green: #00b7fd;

/*
FONTS
*/
$ff-body: "Montserrat", sans-serif;
$ff-dates: "Lato", sans-serif;

$icomoon-font-family: "cv" !default;
$icomoon-font-path: "../assets/fonts/cv" !default;

/*
ICONS
*/
$icon-uk-path1: "\e93c";
$icon-uk-path2: "\e93d";
$icon-uk-path3: "\e93e";
$icon-uk-path4: "\e93f";
$icon-uk-path5: "\e940";
$icon-uk-path6: "\e941";
$icon-uk-path7: "\e942";
$icon-uk-path8: "\e943";
$icon-uk-path9: "\e944";
$icon-uk-path10: "\e945";
$icon-uk-path11: "\e946";
$icon-uk-path12: "\e947";
$icon-uk-path13: "\e948";
$icon-uk-path14: "\e949";
$icon-uk-path15: "\e94a";
$icon-france-path1: "\e94b";
$icon-france-path2: "\e94c";
$icon-france-path3: "\e94d";
$icon-france-path4: "\e94e";
$icon-plus-circle: "\e930";
$icon-map-pin: "\e931";
$icon-plus-square: "\e92f";
$icon-nodejs: "\e91f";
$icon-mongodb: "\e928";
$icon-angular: "\e904";
$icon-circleci: "\e909";
$icon-css3: "\e90a";
$icon-docker: "\e920";
$icon-git: "\e921";
$icon-html5: "\e922";
$icon-javascript: "\e925";
$icon-magento: "\e926";
$icon-mysql: "\e927";
$icon-php: "\e929";
$icon-python: "\e92a";
$icon-react: "\e92b";
$icon-sass: "\e92c";
$icon-symfony: "\e92d";
$icon-vuejs: "\e92e";
$icon-vue-path1: "\e905";
$icon-vue-path2: "\e906";
$icon-vue-path3: "\e907";
$icon-magento1: "\e908";
$icon-php1-path1: "\e90b";
$icon-php1-path2: "\e90c";
$icon-html5-text-path1: "\e90d";
$icon-html5-text-path2: "\e90e";
$icon-html5-text-path3: "\e90f";
$icon-html5-text-path4: "\e910";
$icon-html5-text-path5: "\e911";
$icon-css3-text-path1: "\e912";
$icon-css3-text-path2: "\e913";
$icon-css3-text-path3: "\e914";
$icon-css3-text-path4: "\e915";
$icon-css3-text-path5: "\e916";
$icon-css3-text-path6: "\e917";
$icon-css3-text-path7: "\e918";
$icon-css3-text-path8: "\e919";
$icon-css3-text-path9: "\e91a";
$icon-css3-text-path10: "\e91b";
$icon-angular-color-path1: "\e91c";
$icon-angular-color-path2: "\e91d";
$icon-angular-color-path3: "\e91e";
$icon-javascript-color-path1: "\e923";
$icon-javascript-color-path2: "\e924";
$icon-github: "\e900";
$icon-linkedin: "\e901";
$icon-mail: "\e902";
$icon-phone: "\e903";
$icon-monitor: "\e936";
$icon-camera: "\e937";
$icon-cake: "\e938";
$icon-headphones: "\e939";
$icon-plane: "\e93a";
$icon-book: "\e93b";
$icon-airplane: "\e932";
$icon-film: "\e933";
$icon-location-food: "\e934";
$icon-music-notes: "\e935";
