@import "styles/global.scss";

.Experiences {
  flex: 3;
  border-left: 2px solid $medium-grey;
  padding: 0 1.5em;
  text-align: justify;

  &__profile {
    border: 1px solid $light-grey-2;
    padding: 1em;
    margin-bottom: 2em;
  }

  &__section {
    margin-bottom: 3em;
  }

  &__two-columns {
    display: flex;
    flex-direction: row;
    width: 100%;

    > * {
      flex: 1;
      &:first-child {
        margin-right: 2em;
      }
    }
  }
}
