@import "../../styles/global.scss";

.HobbiesList {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  &__picto {
    font-size: 2.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    color: $green;
  }
}
