@import "../../styles/global.scss";

.Introduction {
  flex: 1;
  border-right: 2px solid $medium-grey;
  padding: 0 1.5em;
  text-align: center;

  &__picture {
    max-width: 60%;
    border-radius: 50%;
    border: 2px solid $green;
    margin-top: 1.5em;
  }

  &__contact {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
  }

  &__picto {
    font-size: 2em;
    color: $green;
  }
}
